<h2>本当に退会しますか？</h2>
<h4>
  退会すると、会員情報や<br>
  これまでの購入履歴が閲覧できなくなります。<br>
  退会する場合は、「退会する」をクリックしてください。
</h4>

<%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>