<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%#= render 'public/shared/header.html.erb' %>
    <!--ヘッダー確認後コメントアウト解除-->
    <title></title>
  </head>
  <body>
    <div class="container p-3">
      <div class="row mb-5">
        <div class="col-md-12 text-center mt-5">
          <h3 class="mb-5 mt-5">ご注文ありがとうございました！</h3>
        </div>
      </div>
    </div>
    <%#= render 'public/shared/footer.html.erb' %>
    <!--フッター確認後コメントアウト解除-->
  </body>
</html>