<style>
.bg-image {
  width: auto;
  height: auto;
}
</style>
<div class="container p-3">
  <div class="row mb-5">
    <div class="col-md-12 text-center mt-5">
      <h3 class="mb-5 mt-5">ご注文ありがとうございました！</h3>
<div class="bg-image">
    <%= image_tag 'top.jpg' %>
</div>
</div>
  </div>
</div>
