<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
    <%#= render 'public/shared/header.html.erb' %>
    <div class="container p-3">
      <div class="row">

        <div class="col-md-12">
          <h3>注文履歴一覧</h3>
          <table class="table table-bordered">
            <tr class="table-secondary">
              <td>注文日</td>
              <td>配送先</td>
              <td>注文商品</td>
              <td>支払い金額</td>
              <td>ステータス</td>
              <td>注文詳細</td>
            </tr>
            <%# @orders.each do |order| %>
              <tr>
                <td><%#= order.created_at.strftime('%Y/%m/%d') %></td>
                <td><%#= order.address %></td>
                <td>
                  <ul class="list-unstyled">
                    <%# order.order_details.each do |order_detail|  %>
                      <li><%#= order_detail.item.name %></li>
                    <%# end %>
                  </ul>
                </td>
                <td><%#= order.total_price.to_s(:delimited) %>円</td>
                <td><%#= order.status_i18n %></td>
                <td><%#= link_to "表示する", order_path(order.id), class: "btn btn-info" %></td>
              </tr>
            <%# end %>
          </table>
          <%#= paginate @orders, theme: 'bootstrap-5' %>
        </div>
      </div>
    </div>
    <%#= render 'public/shared/footer.html.erb' %>
  </body>
</html>