<h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>


<!--下記はbootstrap確認用-->
    <div class="col-12">
      <div class="mb-3">
      <h5>お支払い方法</h5>
      <p class="text-primary">.text-primary</p>
      <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
<!--上記はbootstrap確認用-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
</body>
</html>




注文情報入力
支払方法
クレジットカード
銀行振込
お届け先
ご自身の住所
登録済み住所から選択
新しいお届け先
郵便番号（ハイフンなし）
0000000
住所
東京都渋谷区代々木神園町0-0
宛名
令和道子
確認画面へ進む