<style>
#footer{
    width: 100%;
    height: 70px;
    background-color: #433A33;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
</style>
    <div id="footer">
    <%= image_tag 'footer_4.jpeg' %>
    </div>